<div class="col-md-12">
    <div class="card request-card mb-3">
    
      <div class="card-body">
        <!-- Request Main Info -->
        <div class="row">
          <div class="col-md-4">
            <h5>{{ request.CustomerFirstName }} {{ request.CustomerLastName }}</h5>
            <p>
              <a [href]="'mailto:' + request.CustomerEmail"> {{ request.CustomerEmail }}</a> <!-- Click to email -->
            </p>
            <p>
              <a [href]="'https://wa.me/' + request.CustomerPhone" target="_blank"> {{ request.CustomerPhone }}</a> <!-- Click to WhatsApp -->
            </p>
            <p>
              <a [href]="'https://www.google.com/maps/@'+request.Lat+','+request.Lang+',12z'" target="_blank">
                <i class="fa fa-map-marker-alt"></i> 
              {{ request.Address }} 
              </a>
               
            </p>
          </div>

          <!-- Request Info -->
          <div class="col-md-4">
            <p><strong>{{ 'Order_Date' | translate }}:</strong> {{ request.OrderDate | date }}</p>
            <p><strong>{{ 'Service_From' | translate }} :</strong> {{ request.start_time |  date: 'shortTime' }} <strong> {{'To'|translate}} </strong> {{ request.end_time |  date: 'shortTime' }}</p>
            
            <p><strong>{{ 'Valid' | translate }}: &nbsp; </strong>
              <span *ngFor="let star of stars;let i = index"> 
              <i class="fa fae"
                [ngClass]="i > request.Evalute ? 'fa-star-o fastaro' : 'fa-star fastar'"
              
                 (click)="changeValid(request, i)"
                 style="cursor: pointer; font-size: 24px;"
                 ></i> </span> </p>
          </div>

          <!-- Request State and Actions -->
          <div class="col-md-4">
            <p><strong>{{ 'Status' | translate }}:</strong></p>
            <button class="btn btn-sm"
                    [ngClass]="{'btn-secondary': request.OrderState === 'cancelled','btnLight': request.OrderState != 'cancelled'}"
                    (click)="changeState(request, 'cancelled')">{{ 'Cancel' | translate }}</button>
            <button class="btn btn-sm"
                    [ngClass]="{'btn-warning': request.OrderState === 'pending','btnLight': request.OrderState != 'pending'}"
                    (click)="changeState(request, 'pending')">{{ 'Pendding' | translate }}</button>
            <button class="btn btn-sm"
                    [ngClass]="{'btn-warning': request.OrderState === 'processing','btnLight': request.OrderState != 'processing'}"
                    (click)="changeState(request, 'processing')">{{ 'In_Progress' | translate }}</button>
            <button class="btn btn-sm"
                    [ngClass]="{'btn-success': request.OrderState === 'completed','btnLight': request.OrderState != 'completed'}"
                    (click)="changeState(request, 'completed')">{{ 'Done' | translate }}</button>
          </div>
        </div>
      </div>
    </div>
  </div>