
<!-- About Section -->
<section class="about" id="about">
    <br>
    <div class="row">
      <div class="col-md-1 "></div>
      
      <div class="col-md-10" style="padding: 20px;">
        <div class="container text-center" >
          <h2>{{ 'Requests' | translate }}</h2>
          <br>
          
          <!--
          <div class="input-group" style="padding: 30px;">
            <span class="btn" style="background-color: #2ecc71;color: white;"><i class="fa fa-user"></i></span>
            <input class="form-control"  type="text" placeholder="Search by name" [(ngModel)]="searchCriteria.name" (input)="onSearch()">
            <span class="btn" style="background-color: #2ecc71;color: white;" ><i class="fa fa-calendar"></i></span>
            <input class="form-control" type="date" [(ngModel)]="searchCriteria.dateAdded" >
  
            <span class="btn" style="background-color: #2ecc71 !important;color: white !important;" ><i class="fa fa-star"></i></span>
            <input class="form-control" type="number" value="" max="5" min="1" [(ngModel)]="searchCriteria.valid" >
            
            <span class="btn" style="background-color: #2ecc71 !important;color: white !important;" ><i class="fa fa-check"></i></span>
            <select class="form-control" [(ngModel)]="searchCriteria.state">
              <option value="">Select status</option>
              <option value="add">Add</option>
              <option value="in">In Progress</option>
              <option value="done">Done</option>
            </select>
           
           
            <span class="btn" style="background-color: #2ecc71;color: white;" >OrderBy</span>
            <select class="form-control" [(ngModel)]="searchCriteria.order">
              <option value="created" selected>created</option>
              <option value="status">status</option>
              <option value="name">name</option>
              <option value="valid">valid</option>
            </select>
          
            <a class="btn" style="background-color: #2ecc71;color: white;" (input)="onSearch()"><i class="fa fa-search"></i></a>
          </div>

          -->
        </div>
      </div>
      <div class="col-md-1"></div>
    </div>
  </section>

  <br>
  <br>
  <section class="container">
    <div *ngIf="isAdmin && requests && requests.length > 0; else  noDataTemplate">

      <div class="row" *ngFor="let request of requests">
        
<app-request-element [request]="request"></app-request-element>

      </div>
    </div>
    
      <!-- Template for no data -->
      <ng-template #noDataTemplate >
        <div class="no-data">
          <br>
          <br>
          <i class="fas fa-info-circle"></i>
          <p>{{ 'No_Data' | translate }}</p>
          <br>
          <br>
        </div>
      </ng-template>
    
    
    
  </section>
<br>
<br>