<!-- add-edit-employee.component.html -->
<div class="modal-header">
    <h4 class="modal-title">{{ 'Add_Request' | translate }}</h4>
  </div>
  
  <div class="modal-body">  
    <ngForm [formGroup]="requestForm">
      
      <div class="form-group" >
        <h6>{{ 'Personal_Information' | translate }}:</h6>
        <div class="input-group" style="padding: 5px;">
            <span class="btn" style="background-color: #2ecc71;color: white;"><i class="fa fa-user"></i></span>
            <input class="form-control"  type="text" placeholder="{{ 'First_Name' | translate }}" formControlName="CustomerFirstName" required>
            <input class="form-control"  type="text" placeholder="{{ 'Last_Name' | translate }}" formControlName="CustomerLastName" required>
        </div>

        <div class="input-group" style="padding: 5px;">
          <span class="btn" style="background-color: #2ecc71;color: white;"><i >@</i></span>
          <input class="form-control"  type="email" placeholder="{{ 'Email' | translate }}" formControlName="CustomerEmail" required>
          <span class="btn" style="background-color: #2ecc71;color: white;"><i class="fa fa-whatsapp"></i></span>
          <input class="form-control"  type="number" placeholder="{{ 'Whats_Number' | translate }}" formControlName="CustomerPhone" required>
      </div>
      <br>
      <h6>{{'Services_Information'|translate}}:</h6>
        
        <div class="input-group" style="display: flex; align-items: center; padding: 5px;">
              <span class="btn"  style="background-color: #2ecc71;color: white;width: 7%;" ><i class="fa fa-calendar"></i></span>
              <input class="form-control"  type="date" placeholder="service date" style="width: 30%;" [min]="minDate"  [value]="minDate"  formControlName="OrderDate" required>
              
              <span class="btn" style="background-color: #2ecc71;color: white;width: 8%;"><i class="fas fa-stopwatch	"></i></span>
              <input class="form-control"  type="time" placeholder="from" style="width: 27%;"   formControlName="start_time" required>
              <input class="form-control"  type="time" placeholder="to" style="width: 28%;"   formControlName="end_time" required> 
        </div>

        <div class="input-group" style="display: flex; align-items: center; padding: 5px;">

          <span class="btn" style="background-color: #2ecc71;color: white;width: 10%;"><i class="fa fa-map-marker-alt"></i></span>
          <input type="text" class="form-control" value="" placeholder="{{ 'Address' | translate }}" style="width: 65%;" formControlName="Evalute" required> 
          <span class="btn" style="background-color: #2ecc71;color: white;width: 10%;"><i class="fa fa-users"></i></span>
            <input class="form-control"  type="number" placeholder="{{ 'Employee_Number' | translate }}" style="width: 15%;" value="3" formControlName="EmployeeNumber" required>                
      </div>

      </div>
      <!--<app-my-map></app-my-map>-->
      
    </ngForm>
  </div>

  <div class="modal-footer">
    <p [id]="msgResponse" [ngClass]="msgClass">{{ msgResponse }}</p>
    <button class="btn" style="background-color: #2ecc71;color: white;" (click)="saveRequest()">{{ 'Save' | translate }}</button>
    <button class="btn btn-secondary" (click)="closeModal(null)">{{ 'Cancel' | translate }}</button>
  </div>
  