<!-- add-edit-employee.component.html -->
<div class="modal-header">
  <h4 class="modal-title">{{ 'Add_Request' | translate }}</h4>
</div>
<form [formGroup]="requestForm" (ngSubmit)="saveRequest()" #formDirective="ngForm" >     
  <div class="modal-body">  
      
      <div class="form-group" >
        <h6>{{ 'Personal_Information' | translate }}:</h6>
        <div class="input-group" style="padding: 5px;">
            <span class="btn" style="background-color: #2ecc71;color: white;"><i class="fa fa-user"></i></span>
            <input class="form-control" type="text" placeholder="{{ 'First_Name' | translate }}" formControlName="CustomerFirstName" required>
            <input class="form-control" type="text" placeholder="{{ 'Last_Name' | translate }}" formControlName="CustomerLastName" required>
        </div>

        <div class="input-group" style="padding: 5px;">
          <!--
          <span class="btn" style="background-color: #2ecc71;color: white;"><i >@</i></span>
          <input class="form-control"  type="email" placeholder="{{ 'Email' | translate }}" formControlName="CustomerEmail" required>
          -->
          
          <span class="btn" style="background-color: #2ecc71;color: white;"><i class="fa fa-whatsapp"></i></span>
          <input class="form-control"  type="number" placeholder="{{ 'Whats_Number' | translate }}" formControlName="CustomerPhone" required>
      </div>
      <br>
      <h6>{{'Services_Information'|translate}}:</h6>
        
        <div class="input-group" style="display: flex; align-items: center; padding: 5px;">
              <span class="btn"  style="background-color: #2ecc71;color: white;width: 10%;" ><i class="fa fa-calendar"></i></span>
              <input class="form-control"  type="date" placeholder="service date" style="width: 34%;" [min]="minDate"  [value]="minDate"  formControlName="OrderDate" required>
              
              <span class="btn" style="background-color: #2ecc71;color: white;width: 8%;"><i class="fas fa-stopwatch	"></i></span>
              <select id="hoursStart" name="hoursStart" style="width: 10%;" class="form-control" formControlName="hoursStart" required>
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5</option>
                <option value="6">6</option>
                <option value="7">7</option>
                <option value="8">8</option>
                <option value="9" selected>9</option>
                <option value="10">10</option>
                <option value="11">11</option>
                <option value="12">12</option>
              </select>
            
              <select id="ampmStart" name="ampmStart" class="form-control" style="width: 11%;" formControlName="ampmStart" required>
                <option value="AM" selected>AM</option>
                <option value="PM">PM</option>
              </select>
              <span class="btn" style="background-color: #2ecc71;color: white;width: 13%;">Hours</span>
              <input class="form-control"  type="number" placeholder="{{ 'Hours' | translate }}" style="width: 13%;" formControlName="Hours" required>                
         
              <!--
              <input class="form-control"  type="time" placeholder="from" style="width: 27%;"   formControlName="start_time" required>
              <input class="form-control"  type="time" placeholder="to" style="width: 28%;"   formControlName="end_time" required>
              -->
               
        </div>

        <div class="input-group" style="display: flex; align-items: center; padding: 5px;">

          <span class="btn" style="background-color: #2ecc71;color: white;width: 10%;"><i class="fa fa-map-marker-alt"></i></span>
          <input type="text" class="form-control" value="" placeholder="{{ 'Address' | translate }}" style="width: 67%;" formControlName="Address" required> 
          <span class="btn" style="background-color: #2ecc71;color: white;width: 10%;"><i class="fa fa-users"></i></span>
          <input class="form-control"  type="number" placeholder="{{ 'Employee_Number' | translate }}" style="width: 13%;" value="3" formControlName="EmployeeNumber" required>                
      </div>

      </div>
      <app-my-map [requestForm]="requestForm" [Lat]="Lat" [Lang]="Lang" ></app-my-map>
      
    
  </div>

  <div class="modal-footer">
    <p [id]="msgResponse" [ngClass]="msgClass">{{ msgResponse }}</p>
    <input class="btn"   style="background-color: #2ecc71;color: white;" type="submit" value="{{ 'Save' | translate }}" [disabled]="requestForm.invalid" />
    <button class="btn btn-secondary" (click)="closeModal(null)">{{ 'Cancel' | translate }}</button>
  </div>
</form>
  