<!-- Services Section -->
<section id="services" class="services py-5">
  <div class="container">
    <br>
    <h2 class="text-center" style="color: rgb(28 32 38);">{{ 'Our_Profile' | translate }}</h2>
    <br>
    <div class="row">
      <div class="col-md-6 service">
        <h3>Residential Cleaning</h3>
        <p>Professional cleaning services for your home including deep cleaning and regular maintenance.</p>
        <img src="../../assets/dd.png" alt="Residential Cleaning" class="img-fluid rounded">
      </div>
      <div class="col-md-6 service">
        <img src="../../assets/ff.jpeg" alt="Commercial Cleaning" class="img-fluid rounded">
        <h3>Commercial Cleaning</h3>
        <p>Keep your workspace clean and healthy with our specialized commercial cleaning services.</p>
      </div>

      <div class="col-md-6 service">
        <h3>Residential Cleaning</h3>
        <p>Professional cleaning services for your home including deep cleaning and regular maintenance.</p>
        <img src="../../assets/dd.png" alt="Residential Cleaning" class="img-fluid rounded">
      </div>

      <div class="col-md-6 service">
        <img src="../../assets/ff.jpeg" alt="Commercial Cleaning" class="img-fluid rounded">
        <h3>Commercial Cleaning</h3>
        <p>Keep your workspace clean and healthy with our specialized commercial cleaning services.</p>
      </div>

      <div class="col-md-6 service">
        <h3>Residential Cleaning</h3>
        <p>Professional cleaning services for your home including deep cleaning and regular maintenance.</p>
        <img src="../../assets/dd.png" alt="Residential Cleaning" class="img-fluid rounded">
      </div>

      <div class="col-md-6 service">
        <img src="../../assets/ff.jpeg" alt="Commercial Cleaning" class="img-fluid rounded">
        <h3>Commercial Cleaning</h3>
        <p>Keep your workspace clean and healthy with our specialized commercial cleaning services.</p>
      </div>

      <div class="col-md-6 service">
        <h3>Residential Cleaning</h3>
        <p>Professional cleaning services for your home including deep cleaning and regular maintenance.</p>
        <img src="../../assets/dd.png" alt="Residential Cleaning" class="img-fluid rounded">
      </div>
      <div class="col-md-6 service">
        <img src="../../assets/ff.jpeg" alt="Commercial Cleaning" class="img-fluid rounded">
        <h3>Commercial Cleaning</h3>
        <p>Keep your workspace clean and healthy with our specialized commercial cleaning services.</p>
      </div>

    </div>
    <!-- Add more services as needed -->
  </div>
</section>