<section class="container" style="max-width: 1080px;">

    <div class="row">

        <div *ngIf="isAdmin; else  noDataTemplate">
            <div class="col-12">
                <div class="card">
                    <div class="card-content">
                        <h2 class="card-title">{{ generalInfo.companyName }} <i><small> - {{ generalInfo.phone1 }}</small></i></h2>
                            <p class="card-description">{{ generalInfo.description }}</p>
                            <p class="card-description"><strong>{{'Location_In'|translate}}</strong><br> {{ generalInfo.Address }}</p>
                            <p class="card-description"><strong>{{'Conntact_Us'|translate}}  </strong> 
                                <a [href]="generalInfo.Email" target="_blank"> {{'Email'|translate}}</a> |
                                <a [href]="generalInfo.facebook" target="_blank"> {{'Facebook'|translate}}</a> |
                                <a [href]="generalInfo.instagram" target="_blank"> {{'Instagram'|translate}}</a>
                            </p>
                    </div>
                    <div class="text-align:center">
                    <div class="input-group" style="padding: 20px;">
                        <a class="btn btn-success"  data-bs-toggle="modal" data-bs-target="#editModal" style="background-color: #2ecc71;">{{'Edit'|translate}}</a>
                        <a class="btn btn-secondary" data-bs-toggle="modal" data-bs-target="#changePasswordModal" >{{'Set_Password'|translate}}</a>
                        <a class="btn btn-danger" (click)="logout()" >{{'Log_Out'|translate}}</a>
                    </div>
                    </div>
                    
                </div>
            </div>
           
        </div>
        
          <!-- Template for no data -->
        <ng-template #noDataTemplate >
            <div class="no-data">
            <br>
            <br>
            <div class="col-12">
                <i class="fas fa-info-circle"></i>
                <p>{{'No_data'|translate}}</p>
               
            </div>
            <br>
            <br>
            </div>
        </ng-template>

    </div>
    
    <!-- Edit Information Modal -->
    <div class="modal fade" id="editModal" tabindex="-1" aria-labelledby="editModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="editModalLabel">{{'Edit_Company_Information'|translate}}</h5>
           <!--  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button> -->
          </div>
          <div class="modal-body">
            <form>
                <div class="row">
                    <div class="col-md-6">
                        <div class="mb-3">
                            <label for="companyName" class="form-label">{{'Company_Name' | translate}}</label>
                            <input type="text" class="form-control" id="companyName" [(ngModel)]="generalInfo.companyName" name="companyName" />
                          </div>                          
                    </div>

                    <div class="col-md-6">
                        <div class="mb-3">
                            <label for="description" class="form-label">{{'Description'|translate}}</label>
                            <input type="text" class="form-control" id="description" [(ngModel)]="generalInfo.description" name="description" />
                        </div>                          
                    </div>


                    <div class="col-md-12">
                        <div class="mb-3">
                            <label for="Address" class="form-label">{{'Address'|translate}}</label>
                            <input type="text" class="form-control" id="Address" [(ngModel)]="generalInfo.Address" name="Address" />
                        </div>                          
                    </div>

                    <div class="col-md-12">
                        <div class="mb-3">
                            <label for="services" class="form-label">{{'services'|translate}}</label>
                            <input type="text" class="form-control" placeholder="services" id="services" [(ngModel)]="generalInfo.services" name="services" />
                        </div>                          
                    </div>
                </div>

                
                <label for="commanta" class="form-label">{{'Connect'|translate}}</label>
                <div class="row">
                    <div class="col-md-6">
                        <input type="text" class="form-control" placeholder="{{'Whats_Number'|translate}}" id="phone1" [(ngModel)]="generalInfo.phone1" name="phone1" />
                    </div>
                    <div class="col-md-6">
                        <input type="text" class="form-control" id="phone2" placeholder="phone2"  [(ngModel)]="generalInfo.phone2" name="phone2" />
                    </div>
                    <div class="col-md-6">
                        <input type="text" class="form-control" id="Email" placeholder="{{'Email'|translate}}"  [(ngModel)]="generalInfo.Email" name="Email" />
                    </div>
                    <div class="col-md-6">
                    </div>
                    
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <input type="text" class="form-control" placeholder="{{'FaceBook'|translate}}" id="facebook" [(ngModel)]="generalInfo.facebook" name="facebook" />
                    </div>
                    <div class="col-md-6">
                        <input type="text" class="form-control" placeholder="{{'Instagram'|translate}}" id="instagram" [(ngModel)]="generalInfo.instagram" name="instagram" />
                    </div>
                </div>
                
            </form>
          </div>
          <div class="modal-footer">
            <p [id]="msgResponse" [ngClass]="msgClass">{{ msgResponse }}</p>
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">{{'Cancel'|translate}}</button>
            <button type="button" class="btn btn-primary" (click)="saveChanges()">{{'Save'|translate}}</button>
          </div>
        </div>
      </div>
    </div>
  
    <!-- Change Password Modal -->
    <div class="modal fade" id="changePasswordModal" tabindex="-1" aria-labelledby="changePasswordModalLabel" aria-hidden="true">
        <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
            <h5 class="modal-title" id="changePasswordModalLabel">{{'Change_Password'|translate}}</h5>
            </div>
            <div class="modal-body">
            <form>
                <div class="mb-3">
                <label for="oldPassword" class="form-label">{{'Old_Password'|translate}}</label>
                <input type="password" class="form-control" id="oldPassword" [(ngModel)]="oldPassword" name="oldPassword" />
                </div>
                <div class="mb-3">
                <label for="newPassword" class="form-label">{{'New_Password'|translate}}</label>
                <input type="password" class="form-control" id="newPassword" [(ngModel)]="newPassword" name="newPassword" />
                </div>
                <div class="mb-3">
                <label for="confirmPassword" class="form-label">{{'Confirm_New_Password'|translate}}</label>
                <input type="password" class="form-control" id="confirmPassword" [(ngModel)]="confirmPassword" name="confirmPassword" />
                </div>
            </form>
            </div>
            <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">{{'Cancel'|translate}}</button>
            <button type="button" class="btn btn-primary" (click)="changePassword()">{{'Save'|translate}}</button>
            </div>
        </div>
        </div>
    </div>

</section>
  
  