<section class="container" style="max-width: 1080px;">

    <div class="row">

        <div *ngIf="isAdmin; else  noDataTemplate">
            <div class="col-12">
                <div class="card">
                    <div class="card-content">
                        <h2 class="card-title">{{ generalInfo.companyName }} <i><small> - {{ generalInfo.phone1 }}</small></i></h2>
                            <p class="card-description">{{ generalInfo.companyName }} is <strong>Location in </strong> {{ generalInfo.Address }}</p>
                            <p class="card-description">{{ generalInfo.companyName }} is <br>{{ generalInfo.description }}</p>
                        <p class="card-description">{{ generalInfo.companyName }} is <strong>is service :</strong><br> {{ generalInfo.services }}</p>              
                        <p class="card-description">{{ generalInfo.companyName }} is <strong>have feedback :</strong><br> {{ generalInfo.comments }}</p>
                        <p class="card-description"><strong>To Contact  </strong> 
                            <a [href]="generalInfo.Email" target="_blank"> Email</a> |
                            <a [href]="generalInfo.facebook" target="_blank"> Facebook</a> |
                            <a [href]="generalInfo.instagram" target="_blank"> Instagram</a>
                        </p>
                    </div>
                    <div class="text-align:center">
                    <div class="input-group" style="padding: 20px;">
                        <a class="btn btn-success"  data-bs-toggle="modal" data-bs-target="#editModal" style="background-color: #2ecc71;">Edit</a>
                        <a class="btn btn-secondary" data-bs-toggle="modal" data-bs-target="#changePasswordModal" >set password</a>
                        <a class="btn btn-danger" (click)="logout()" >Logout</a>
                    </div>
                    </div>
                    
                </div>
            </div>
           
        </div>
        
          <!-- Template for no data -->
        <ng-template #noDataTemplate >
            <div class="no-data">
            <br>
            <br>
            <div class="col-12">
                <i class="fas fa-info-circle"></i>
                <p>No data available to display.</p>
               
            </div>
            <br>
            <br>
            </div>
        </ng-template>

    </div>
    
    <!-- Edit Information Modal -->
    <div class="modal fade" id="editModal" tabindex="-1" aria-labelledby="editModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="editModalLabel">Edit Company Information</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            <form>
                <div class="row">
                    <div class="col-md-6">
                        <div class="mb-3">
                            <label for="companyName" class="form-label">Company Name</label>
                            <input type="text" class="form-control" id="companyName" [(ngModel)]="generalInfo.companyName" name="companyName" />
                          </div>                          
                    </div>

                    <div class="col-md-6">
                        <div class="mb-3">
                            <label for="description" class="form-label">Description</label>
                            <input type="text" class="form-control" id="description" [(ngModel)]="generalInfo.description" name="description" />
                        </div>                          
                    </div>


                    <div class="col-md-12">
                        <div class="mb-3">
                            <label for="Address" class="form-label">Address</label>
                            <input type="text" class="form-control" placeholder="Address" id="Address" [(ngModel)]="generalInfo.Address" name="Address" />
                        </div>                          
                    </div>

                    <div class="col-md-12">
                        <div class="mb-3">
                            <label for="services" class="form-label">services</label>
                            <input type="text" class="form-control" placeholder="services" id="services" [(ngModel)]="generalInfo.services" name="services" />
                        </div>                          
                    </div>
                </div>

                
                <label for="commanta" class="form-label">Connect</label>
                <div class="row">
                    <div class="col-md-6">
                        <input type="text" class="form-control" placeholder="phone1" id="phone1" [(ngModel)]="generalInfo.phone1" name="phone1" />
                    </div>
                    <div class="col-md-6">
                        <input type="text" class="form-control" id="phone2" placeholder="phone2"  [(ngModel)]="generalInfo.phone2" name="phone2" />
                    </div>
                    <div class="col-md-6">
                        <input type="text" class="form-control" id="Email" placeholder="Email"  [(ngModel)]="generalInfo.Email" name="Email" />
                    </div>
                    <div class="col-md-6">
                    </div>
                    
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <input type="text" class="form-control" placeholder="faceBook Link" id="facebook" [(ngModel)]="generalInfo.facebook" name="facebook" />
                    </div>
                    <div class="col-md-6">
                        <input type="text" class="form-control" placeholder="instagram Link" id="instagram" [(ngModel)]="generalInfo.instagram" name="instagram" />
                    </div>
                </div>
                
            </form>
          </div>
          <div class="modal-footer">
            <p [id]="msgResponse" [ngClass]="msgClass">{{ msgResponse }}</p>
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
            <button type="button" class="btn btn-primary" (click)="saveChanges()">Save changes</button>
          </div>
        </div>
      </div>
    </div>
  
    <!-- Change Password Modal -->
    <div class="modal fade" id="changePasswordModal" tabindex="-1" aria-labelledby="changePasswordModalLabel" aria-hidden="true">
        <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
            <h5 class="modal-title" id="changePasswordModalLabel">Change Password</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
            <form>
                <div class="mb-3">
                <label for="oldPassword" class="form-label">Old Password</label>
                <input type="password" class="form-control" id="oldPassword" [(ngModel)]="oldPassword" name="oldPassword" />
                </div>
                <div class="mb-3">
                <label for="newPassword" class="form-label">New Password</label>
                <input type="password" class="form-control" id="newPassword" [(ngModel)]="newPassword" name="newPassword" />
                </div>
                <div class="mb-3">
                <label for="confirmPassword" class="form-label">Confirm New Password</label>
                <input type="password" class="form-control" id="confirmPassword" [(ngModel)]="confirmPassword" name="confirmPassword" />
                </div>
            </form>
            </div>
            <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
            <button type="button" class="btn btn-primary" (click)="changePassword()">Change Password</button>
            </div>
        </div>
        </div>
    </div>

</section>
  
  