<header class="header">
  <nav class="navbar navbar-expand-sm navbar-light fixed-top">
    <div class="container" style="padding: 0px;margin: 0px;">
      <a class="navbar-brand" href="#"><img src="../../assets/log.png" alt="Logo"></a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item"><a class="nav-link" href="home#about">{{ 'Home' | translate }}</a></li>
          <li class="nav-item"><a class="nav-link" href="employees#headEmpl">{{ 'Employees' | translate }}</a></li>

          <li *ngIf="isAdmin" class="nav-item"><a class="nav-link" href="requests#about">{{ 'Requests' | translate }}</a></li>
          <li class="nav-item"><a class="nav-link" href="about#services">{{ 'About_Us' | translate }}</a></li>
          <li *ngIf="isAdmin" class="nav-item"><a class="nav-link" href="dashboard">{{ 'Dashboard' | translate }}</a></li>
        </ul>
      </div>

      <a *ngIf="useEnglish" (click)="switchLanguage('ar')">
        <i  class="fa fa-language" aria-hidden="true" ></i>
      </a>
      <a *ngIf="!useEnglish" (click)="switchLanguage('en')">
        <i  class="fa fa-language" aria-hidden="true" ></i>
      </a>
    </div>
  </nav>
</header>

<!-- Hero Section -->
<div id="carouselExampleIndicators" style="z-index: 2;" class="carousel slide" data-bs-ride="carousel"  data-bs-interval="2500">
  <div class="carousel-indicators">
    <button *ngFor="let image of images; let i = index" type="button" data-bs-target="#carouselExampleIndicators"
            [attr.data-bs-slide-to]="i" [class.active]="i === 0" [attr.aria-label]="'Slide ' + (i + 1)"></button>
  </div>

  <div class="carousel-inner">
    <div *ngFor="let image of images; let i = index" class="carousel-item" [class.active]="i === 0">
      <img [src]="image.src" class="d-block w-100" [alt]="image.alt">      
    </div>
  </div>

  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
  
  <!-- Title and Content Overlay -->
  <div class="carousel-overlay">
    <div class="container text-center text-white">
      <h1 class="display-3">{{ 'Welcome_To' | translate }} {{generalInfo.companyName}}</h1>
      <p class="lead">{{generalInfo.description}}.</p>

      <!-- Social Media Icons Row -->
      <div class="social-icons mt-4" style="z-index: 100px;">
        <a href="https://wa.me/{{generalInfo.phone1}}" target="_blank" class="text-white mx-2">
          <i class="fab fa-whatsapp fa-2x"></i>
        </a>
        <a href="https://www.facebook.com/yourpage" target="_blank" class="text-white mx-2">
          <i class="fab fa-facebook fa-2x"></i>
        </a>
        <a href="https://www.instagram.com/yourprofile" target="_blank" class="text-white mx-2">
          <i class="fab fa-instagram fa-2x"></i>
        </a>
      </div>

    </div>
  </div>

</div>

<!-- Router outlet for displaying routed components -->
<router-outlet></router-outlet>

<!-- Footer Section -->
<footer class="footer bg-dark text-white py-5">
  <div class="container text-center">
    <p>
      {{ 'Conntact_Us' | translate }}:
      <a href="mailto:{{generalInfo.Email}}" style="font-size:medium ;">{{generalInfo.Email}}</a> 
      <a href="https://wa.me/{{generalInfo.phone1}}" target="_blank" class="text-white"><i class="fab fa-whatsapp"></i></a>
      
      |  {{ 'Follow_Us' | translate }}: 
      <a href="{{generalInfo.facebook}}" class="text-white"><i class="fab fa-facebook"></i></a>
      <a href="{{generalInfo.instagram}}" class="text-white"><i class="fab fa-instagram"></i></a>
    </p>
  </div>
</footer>

 <!--whats app -->
 <div class="row">
    
    <div class="col-1">
      <div id="whatsApp" class="fixedButton" style="right: 25px; text-align: right;">
        <a href="{{whatsAppLink}}" target="_blank" color="#4dc247">
          <img src="../../assets/WhatsApp.svg" width="18%" alt="Image" title="" loading="lazy" >
        </a>
      </div>
    </div>

    <div class="col-10"></div>
    <div class="col-1">
    <div id="AddRequest" class="fixedButton" style="left: 25px; text-align: left;" >
      <a color="#4dc247" (click)="openAddRequestPopup()">
        <img src="../../assets/plus.png" width="18%" alt="Image" title="" loading="lazy" >
      </a>
    </div>
    </div>

</div>
 

