<!-- add-edit-employee.component.html -->
<div class="modal-header" id="employeeModal">
    <h4 class="modal-title">{{  isEditMode ? ('Edit_Employee'| translate) : ('Add_Employee' | translate) }}</h4>
  </div>
  <ngForm [formGroup]="employeeForm">
  <div class="modal-body">
   
    <div class="image-container" style="text-align: center">
        <img [src]="imagePreview || defaultImage" class="img-thumbnail" style="position: relative;
        width: 200px ;         
        height: 200px ; 
        object-fit: cover !important;           
        border: 2px solid #2ecc71 ;
        border-radius: 50%;" id="previewImage"/> 
      <span class="btn btn-icon" (click)="fileInput.click()">
        <i class="fa fa-camera"></i> <!-- Use any camera or upload icon -->
      </span>

    </div>

   

      <input type="hidden" formControlName="id">
      <div class="form-group" >
        <div class="input-group" style="padding: 5px;">
            <span class="btn" style="background-color: #2ecc71;color: white;"><i class="fa fa-user"></i></span>
            <input class="form-control" required type="text" placeholder="{{ 'First_Name' | translate }}" formControlName="FirstName" >
            <input class="form-control" required  type="text" placeholder="{{ 'Last_Name' | translate }}" formControlName="LastName" >
        </div>

        <div class="input-group" style="padding: 5px;">
            <span class="btn" style="background-color: #2ecc71;color: white; width: 10%;"><i class="fa fa-calendar"></i></span>
            <input class="form-control"  style="width: 50%;" type="date" placeholder="StartWork" formControlName="StartWork">
            <input type="number" class="form-control" style="width: 15%;" formControlName="age" placeholder="age" min="18" max="65" value="20" required>
            <span class="btn" style="background-color: #2ecc71;color: white;width: 10%;"><i class="fa fa-star"></i></span>
            <input type="number" class="form-control" style="width: 15%;" formControlName="Evalute" min="1" max="5" value="3">
        </div>
        <input type="file" #fileInput accept="image/jpeg,png,jpg,gif" (change)="onFileSelected($event)" hidden>
      

      </div>
   
  </div>

  <div class="modal-footer">
    <p [id]="msgResponse" [ngClass]="msgClass">{{ msgResponse }}</p>
    <button class="btn" type="submit" style="background-color: #2ecc71;color: white;" (click)="saveEmployee()" [disabled]="employeeForm.invalid">{{ 'Save' | translate }}</button>
    <button class="btn btn-secondary" (click)="activeModal.close()">{{ 'Cancel' | translate }}</button>
  </div>
</ngForm>
  