<!-- add-edit-employee.component.html -->
<div class="modal-header">
    <h4 class="modal-title">{{ isEditMode ? 'Edit Employee' : 'Add Employee' }}</h4>
  </div>
  
  <div class="modal-body">
   
    <div class="image-container" style="text-align: center">
        <img [src]="imagePreview || defaultImage" class="img-thumbnail" style="position: relative;
        width: 200px ;         
        height: 200px ; 
        object-fit: cover !important;           
        border: 2px solid #2ecc71 ;
        border-radius: 50%;" id="previewImage"/> 
      <span class="btn btn-icon" (click)="fileInput.click()">
        <i class="fa fa-camera"></i> <!-- Use any camera or upload icon -->
      </span>

    </div>

    <ngForm [formGroup]="employeeForm">

      <div class="form-group" >
        <div class="input-group" style="padding: 5px;">
            <span class="btn" style="background-color: #2ecc71;color: white;"><i class="fa fa-user"></i></span>
            <input class="form-control"  type="text" placeholder="first name" formControlName="firstName">
            <input class="form-control"  type="text" placeholder="last name" formControlName="lastName">
        </div>

        <div class="input-group" style="padding: 5px;">
            <span class="btn" style="background-color: #2ecc71;color: white;"><i class="fa fa-calendar"></i></span>
            <input class="form-control"  type="date" placeholder="birthdate" formControlName="birthdate">
            <span class="btn" style="background-color: #2ecc71;color: white;"><i class="fa fa-star"></i></span>
            <input type="number" class="form-control" formControlName="valid" min="1" max="5">
        </div>
        <input type="file" #fileInput accept="image/*" (change)="onFileSelected($event)" hidden>
      

      </div>
    </ngForm>
  </div>

  <div class="modal-footer">
    <button class="btn" style="background-color: #2ecc71;color: white;" (click)="saveEmployee()">Save</button>
    <button class="btn btn-secondary" (click)="closeModal()">Cancel</button>
  </div>
  