
<!-- About Section -->
<section id="about" class="about">
  <br>
  <div class="row">
    <div class="col-md-1 "></div>
    
    <div class="col-md-10" style="background-color: rgb(225 227 229);padding: 30px;">
      <div class="container text-center" >
        <h2>{{ 'About_Us' | translate }}</h2>
        <p>{{descrio}}.</p>
        <br>
      </div>
    </div>
    <div class="col-md-1"></div>
  </div>
</section>

<!-- Services Section -->
<section id="services" class="services py-5">
  <div class="container">
    <br>
    <h2 class="text-center" style="color: rgb(28 32 38);">{{'Our_Services' | translate}}</h2>
    <br>
    <div class="row">
      <div class="col-md-6 service">
        <h3>{{services[0].title}}</h3>
        <p>{{services[0].description}}</p>
        <img src="../../assets/dd.png" alt="Residential Cleaning" class="img-fluid rounded">
      </div>
      <div class="col-md-6 service">
        <img src="../../assets/ff.jpeg" alt="Commercial Cleaning" class="img-fluid rounded">
        <h3>{{services[1].title}}</h3>
        <p>{{services[1].description}}</p>
      </div>

      <div class="col-md-6 service">
        <h3>{{services[2].title}}</h3>
        <p>{{services[2].description}}</p>
        <img src="../../assets/dd.png" alt="Residential Cleaning" class="img-fluid rounded">
      </div>

      <div class="col-md-6 service">
        <img src="../../assets/ff.jpeg" alt="Commercial Cleaning" class="img-fluid rounded">
        <h3>{{services[3].title}}</h3>
        <p>{{services[3].description}}</p>
      </div>

      <div class="col-md-6 service">
        <h3>{{services[4].title}}</h3>
        <p>{{services[4].description}}</p>
        <img src="../../assets/dd.png" alt="Residential Cleaning" class="img-fluid rounded">
      </div>

      <div class="col-md-6 service">
        <img src="../../assets/ff.jpeg" alt="Commercial Cleaning" class="img-fluid rounded">
        <h3>{{services[5].title}}</h3>
        <p>{{services[5].description}}</p>
      </div>

    </div>
    <!-- Add more services as needed -->
  </div>
</section>

<!-- Map Section -->
<section id="contact" class="map">
  <div class="container">
    <h2 class="text-center">{{ 'Our_Location' | translate }}  <a><i class="fa fa-map-marker-alt"></i></a></h2>
    <p>{{generalInfo.Address}}</p>
    
    <app-my-map [Lat]="generalInfo.Lat" [Lang]="generalInfo.Lang"  [width]="'100%'" [height]="'400px'" allowfullscreen="" loading="lazy"></app-my-map>
    
    <!--   <iframe src="https://www.google.com/maps/embed/v1/view?key=AIzaSyBnmKPsTtY_JF3N74MIBVq5xg62P97tt_g&center=24.48723641360933, 54.37462243953436&zoom=12" width="90%" height="400" style="border:5px;border-radius:5px ;" allowfullscreen="" loading="lazy"></iframe> -->
  </div>
  <br>
  <br>
</section>

<section class="comments-section">
  
  <div class="comment">
    <!-- <h3>{{item.title}}</h3>-->
    <p>{{customerComments[0].description}}.</p>
    <div class="customer-info">
      <img src="../../assets/defaultimage.jpg" alt="Customer Avatar">
      <span>{{customerComments[0].name}}</span>
    </div>
  </div>

  <div class="comment">
    <!-- <h3>{{item.title}}</h3>-->
    <p>{{customerComments[1].description}}.</p>
    <div class="customer-info">
      <img src="../../assets/defaultimage.jpg" alt="Customer Avatar">
      <span>{{customerComments[1].name}}</span>
    </div>
  </div>

  <div class="comment">
    <!-- <h3>{{item.title}}</h3>-->
    <p>{{customerComments[2].description}}.</p>
    <div class="customer-info">
      <img src="../../assets/defaultimage.jpg" alt="Customer Avatar">
      <span>{{customerComments[2].name}}</span>
    </div>
  </div>

  <br> 
</section>


