
<!-- About Section -->
<section id="about" class="about">
  <br>
  <div class="row">
    <div class="col-md-1 "></div>
    
    <div class="col-md-10" style="background-color: rgb(225 227 229);padding: 30px;">
      <div class="container text-center" >
        <h2>About Us</h2>
        <p>{{generalInfo.description}}.</p>
        <br>
      </div>
    </div>
    <div class="col-md-1"></div>
  </div>
</section>

<!-- Services Section -->
<section id="services" class="services py-5">
  <div class="container">
    <br>
    <h2 class="text-center" style="color: rgb(28 32 38);">Our Services</h2>
    <br>
    <div class="row">
      <div class="col-md-6 service">
        <h3>Residential Cleaning</h3>
        <p>Professional cleaning services for your home including deep cleaning and regular maintenance.</p>
        <img src="../../assets/dd.png" alt="Residential Cleaning" class="img-fluid rounded">
      </div>
      <div class="col-md-6 service">
        <img src="../../assets/ff.jpeg" alt="Commercial Cleaning" class="img-fluid rounded">
        <h3>Commercial Cleaning</h3>
        <p>Keep your workspace clean and healthy with our specialized commercial cleaning services.</p>
      </div>

      <div class="col-md-6 service">
        <h3>Residential Cleaning</h3>
        <p>Professional cleaning services for your home including deep cleaning and regular maintenance.</p>
        <img src="../../assets/dd.png" alt="Residential Cleaning" class="img-fluid rounded">
      </div>

      <div class="col-md-6 service">
        <img src="../../assets/ff.jpeg" alt="Commercial Cleaning" class="img-fluid rounded">
        <h3>Commercial Cleaning</h3>
        <p>Keep your workspace clean and healthy with our specialized commercial cleaning services.</p>
      </div>

      <div class="col-md-6 service">
        <h3>Residential Cleaning</h3>
        <p>Professional cleaning services for your home including deep cleaning and regular maintenance.</p>
        <img src="../../assets/dd.png" alt="Residential Cleaning" class="img-fluid rounded">
      </div>

      <div class="col-md-6 service">
        <img src="../../assets/ff.jpeg" alt="Commercial Cleaning" class="img-fluid rounded">
        <h3>Commercial Cleaning</h3>
        <p>Keep your workspace clean and healthy with our specialized commercial cleaning services.</p>
      </div>

    </div>
    <!-- Add more services as needed -->
  </div>
</section>

<!-- Map Section -->
<section id="contact" class="map">
  <div class="container">
    <h2 class="text-center">Our Location  <a><i class="fa fa-map-marker-alt"></i></a></h2>
    <iframe src="https://www.google.com/maps/embed/v1/view?key=AIzaSyBnmKPsTtY_JF3N74MIBVq5xg62P97tt_g&center=24.48723641360933, 54.37462243953436&zoom=12" width="90%" height="400" style="border:5px;border-radius:5px ;" allowfullscreen="" loading="lazy"></iframe>
  </div>
  <br>
  <br>
</section>

<section class="comments-section">
  
  <div *ngFor="let item of customerComments"  class="comment">
    <h3>{{item.title}}</h3>
    <p>{{item.description}}.</p>
    <div class="customer-info">
      <img src="https://via.placeholder.com/40" alt="Customer Avatar">
      <span>{{item.name}}</span>
    </div>
  </div>

  <br> 
</section>


